{% extends "base.html.twig" %}

{% block title %}Blog {% endblock %}

{% block main %}
    <article>
        {% for post in posts %}
            <h2>{{ post.title|e }}</h2>
            <strong>By {{ post.name }} on {{ post.date }}</strong>
            <p>{{ post.heading|e }}</p>
            <p><a href="\post?id={{ post.id }}" class="btn text-primary"><i>Lire ce billet...</i></a>
            {%if user.admin %}
                <a href="\updatepost?id={{ post.id }}" class="btn text-success"><i>Editer...</i></a>
            {% endif %}
            </p>
        {% endfor %}
    </article>
{% endblock %}

{% block section %}
    {%if user.admin %}
        <h5>Ecrire un nouveau billet !</h5>
        <a href="\addpost" class="btn"><i class="fas fa-4x fa-plus-square text-success" ></i></i></a>
    {% endif %}
{% endblock %}