{% extends "base.html.twig" %}

{% block title %}Nouveau billet - {% endblock %}
{% block headscript %}
    <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>{% endblock %}
{% block main %}
    <h1>Editer ce billet (#{{ post.id }})</h1>
    <form action="\blog" method="post" class="form-group">
        <label for="title">Titre</label>
        <input type="text" name="title" id="title" class="form-control" placeholder="Titre du billet" value="{{ post.title }}" required>
        <label for="chapo">Résumé</label>
        <input type="text" name="heading" id="chapo" class="form-control" placeholder="1er paragraphe" value="{{ post.heading }}" required>
        <label for="content">Texte</label>
        <textarea name="content" id="editor">
            {{ post.content | raw }}
        </textarea><br />
        <input type="hidden" name="postid" value="{{ post.id }}">
        <button type="submit" value="updatePost" class="btn btn-success" name="form"><i>Mettre à jour</i></button>
        <button type=submit class="btn btn-danger" id="form" name="form" value="deletePost"><i>Supprimer...</i></button>
    </form>
{% endblock %}

{% block endscript %}
    <script src="assets/js/ckeditor.js"></script>
{% endblock %}